body{
    display: block;
    margin: 8px;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 3px solid rgba(0, 0, 0,0.7);

}
.heading{
 width: 30%;
}
div{
    display: block;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
p{
    color: rgba(0,0,0,0.6);
}
iframe {
    border-width: 2px;
    border-color: initial;
}